/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {    
  --color-main: #000000;
  --color-borderboxes: #6e6e6e;
}

.border-box {
  border: 1px solid var(--color-borderboxes);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}