<div class="flex flex-col bg-black text-white">
  <img [src]="startImage" width="100%" height="auto" alt="Starting image">
  <!-- box left -->
  <div class="flex flex-row">
    <div class="flex flex-col w-1/2">
      <div class="border-box">
        <h2 class="text-xl font-bold m-4 mt-0 flex items-center border-b-2 border-borderboxes"><img [src]="diagnosesImage" width="50" height="50" alt="Diagnoses image">DIAGNOSES</h2>
        <div class="flex flex-row justify-between m-4">
          <div>
            <ul>
              <li><p>Diagnose uitlezen</p></li>
              <li><p>Uitgebreide diagnose/ storing onderzoek</p></li>
            </ul>
          </div>
          <div>
            <ul>
              <li><p>€35,00</p></li>
              <li><p>€75,00</p></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="border-box w-50%">
        <h2 class="text-xl font-bold m-4 mt-0 flex items-center border-b-2 border-borderboxes"><img [src]="onderhoudImage" width="50" height="50" alt="Onderhoud image">ONDERHOUD</h2>
        <div>
          <div class="flex flex-row justify-between m-4">
            <div>
              <ul>
                <li><p>Kleine onderhoudsbeurt</p></li>
                <li><p>Grote onderhoudsbeurt</p></li>
                <li><p>Olie + oliefilter vervangen</p></li>
                <li><p>Airco controle</p></li>
                <li><p>Airco onderhoud & vullen</p></li>
                <li><p>Remvloeistof vervangen</p></li>
                <li><p>Koelvloeistof vervangen</p></li>
              </ul>
            </div>
            <div>
              <ul class="text-right text-red-500">
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€149,00</span>
                  </p>
                </li>
                <li><p class="flex justify-between ml-auto w-25">
                  <span>vanaf</span>
                  <span>€249,00</span>
                </p>
              </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                  <span>vanaf</span>
                  <span>€99,00</span>
                </p>
              </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span></span>
                    <span>€35,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€99,00</span>
                  </p>
                </li>
                <li><p class="flex justify-between ml-auto w-25">
                  <span>vanaf</span>
                  <span>€69,00</span>
                </p>
              </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€69,00</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="border-box">
        <h2 class="text-xl font-bold m-4 mt-0 flex items-center border-b-2 border-borderboxes"><img [src]="remmenImage" width="50" height="50" alt="Remmen image">REMMEN</h2>
        <div>
          <div class="flex flex-row justify-between m-4">
            <div>
              <ul>
                <li><p>Remblokken voor</p></li>
                <li><p>Remblokken achter</p></li>
                <li><p>Remschijf + Remblokken voor</p></li>
                <li><p>Remschijf + Remblokken achter</p></li>
              </ul>
            </div>
            <div>
              <ul class="text-right text-red-500">
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€129,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€129,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€279,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                  <span>Vanaf</span>
                  <span>€279,00</span>
                </p>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="border-box">
        <h2 class="text-xl font-bold m-4 mt-0 flex items-center border-b-2 border-borderboxes"><img [src]="electrischImage" width="50" height="50" alt="Electrisch image">ELECTRISCH</h2>
        <div>
          <div class="flex flex-row justify-between m-4">
            <div>
              <ul>
                <li><p>Battery vervangen</p></li>
                <li><p>Startmotor vervangen</p></li>
                <li><p>Alternator vervangen</p></li>
              </ul>
            </div>
            <div>
              <ul class="text-right text-red-500">
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€129,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€199,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€249,00</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- box right -->
    <div class="flex flex-col w-1/2">
      <div class="border-box">
        <h2 class="text-xl font-bold m-4 mt-0 flex items-center border-b-2 border-borderboxes"><img [src]="motorenaandrijvingImage" width="50" height="50" alt="Motorenaandrijving image">MOTOR & AANDRIJVING</h2>
        <div>
          <div class="flex flex-row justify-between m-4">
            <div>
              <ul>
                <li><p>Diestrubutieriem vervangen</p></li>
                <li><p>waterpomp vervangen</p></li>
                <li><p>koppeling vervangen</p></li>
                <li><p>Turbo vervangen</p></li>
                <li><p>EGR vervangen</p></li>
                <li><p>DPF vervangen</p></li>
              </ul>
            </div>
            <div>
              <ul class="text-right text-red-500">
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€499,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€299,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€699,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>Vanaf</span>
                    <span>€799,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>Vanaf</span>
                    <span>€349,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>Vanaf</span>
                    <span>€699,00</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="border-box">
        <h2 class="text-xl font-bold m-4 mt-0 flex items-center border-b-2 border-borderboxes"><img [src]="bandenserviceImage" width="50" height="50" alt="Bandenservice image">BANDENSERVICE</h2>
        <div>
          <div class="flex flex-row justify-between m-4">
            <div>
              <ul>
                <li><p>Banden wisselen (4 stuks)</p></li>
                <li><p>motoren en balanceren</p></li>
                <li><p>uitlijnen vooras</p></li>
                <li><p>uitlijnen 4 wielen</p></li>
              </ul>
            </div>
            <div>
              <ul class="text-right text-red-500">
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€49,00</span></p></li>
                <li>
                  <p class="flex justify-between ml-auto w-40">
                    <span>vanaf</span>
                    <span>€25,00</span>
                    <span>per band</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span></span>
                    <span>€75,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span></span>
                    <span>€99,00</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="border-box">
        <h2 class="text-xl font-bold m-4 mt-0 flex items-center border-b-2 border-borderboxes"><img [src]="keuringImage" width="50" height="50" alt="Keuring image">KEURING</h2>
        <div>
          <div class="flex flex-row justify-between m-4">
            <div>
              <ul>
                <li><p>Voertuiginspectie vóór keuring</p></li>
                <li><p>keuring klaar maken</p></li>
                <li><p>Naar de technische keuring brengen</p></li>
              </ul>
            </div>
            <div>
              <ul class="text-right text-red-500">
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span></span>
                    <span>€49,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€79,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span>vanaf</span>
                    <span>€60,00</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>      <div class="border-box">
        <h2 class="text-xl font-bold m-4 mt-0 flex items-center border-b-2 border-borderboxes"><img [src]="transportserviceImage" width="50" height="50" alt="Transportservice image">TRANSPORTSERVICE  </h2>
        <div>
          <div class="flex flex-row justify-between m-4">
            <div>
              <ul>
                <li><p>0 - 25 km</p></li>
                <li><p>26 - 50 km</p></li>
                <li><p>51 - 75 km</p></li>
                <li><p>Iedere bijkomende 25 km</p></li>
              </ul>
            </div>
            <div>
              <ul class="text-right text-red-500">
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span></span>
                    <span>€5,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span></span>
                    <span>€75,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-25">
                    <span></span>
                    <span>€100,00</span>
                  </p>
                </li>
                <li>
                  <p class="flex justify-between ml-auto w-15">
                    <span>+</span>
                    <span>€25,00</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>