<div class="flex flex-col bg-black text-white">

  <div class="border-box">
    <h2 class="text-xl font-bold m-4 mt-0 flex items-center border-b-2 border-borderboxes"><img [src]="diagnosesImage"  width="50" height="50" alt="Diagnoses image">DIAGNOSES</h2>
    <div class="flex flex-row justify-between m-4">
        <div>
            <ul>
                <li><p>Diagnose uitlezen</p></li>
                <li><p>Uitgebreide diagnose/ storing onderzoek</p></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><p>€35,00</p></li>
                <li><p>€75,00</p></li>
            </ul>
        </div>
    </div>
  </div>
  <div class="border-box">
    <h2 class="text-xl font-bold m-4 mt-0 flex items-center border-b-2 border-borderboxes"><img [src]="onderhoudImage"  width="50" height="50" alt="Onderhoud image">ONDERHOUD</h2>
    <div>
        <div class="flex flex-row justify-between m-4">
            <div>
                <ul>
                    <li><p>Kleine onderhoudsbeurt</p></li>
                    <li><p>Grote onderhoudsbeurt</p></li>
                    <li><p>Olie + oliefilter vervangen</p></li>
                    <li><p>Airco controle</p></li>
                    <li><p>Airco onderhoud & vullen</p></li>
                    <li><p>Remvloeistof vervangen</p></li>
                    <li><p>Koelvloeistof vervangen</p></li>
                </ul>
            </div>
            <div>
                <ul class="text-right text-red-500">
                    <li>
                      <p class="flex justify-between ml-auto w-25">
                        <span>vanaf</span>
                        <span>€149,00</span>
                      </p>
                    </li>
                    <li>
                      <p class="flex justify-between ml-auto w-25">
                        <span>vanaf</span>
                        <span>€249,00</span>
                      </p>
                    </li>
                    <li>
                      <p class="flex justify-between ml-auto w-25">
                        <span>vanaf</span>
                        <span>€99,00</span>
                      </p>
                    </li>
                    <li>
                      <p class="flex justify-between ml-auto w-25">
                        <span></span>
                        <span>€35,00</span>
                      </p>
                    </li>
                    <li>
                      <p class="flex justify-between ml-auto w-25">
                        <span>vanaf</span>
                        <span>€99,00</span>
                      </p>
                    </li>
                    <li>
                      <p class="flex justify-between ml-auto w-25">
                        <span>vanaf</span>
                        <span>€69,00</span>
                      </p>
                    </li>
                    <li>
                      <p class="flex justify-between ml-auto w-25">
                        <span>vanaf</span>
                        <span>€69,00</span>
                      </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <div class="border-box">
    <h2 class="text-xl font-bold m-4 mt-0 flex items-center border-b-2 border-borderboxes">DIAGNOSES</h2>
    <ul>
        <li><p>Diagnose uitlezen</p></li>
        <li><p>Uitgebreide diagnose/ storing onderzoek</p></li>
    </ul>
  </div>
  <div class="border-box">
    <h2>DIAGNOSES</h2>
    <ul>
        <li><p>Diagnose uitlezen</p></li>
        <li><p>Uitgebreide diagnose/ storing onderzoek</p></li>
    </ul>
  </div>
  <div class="border-box">
    <h2>DIAGNOSES</h2>
    <ul>
        <li><p>Diagnose uitlezen</p></li>
        <li><p>Uitgebreide diagnose/ storing onderzoek</p></li>
    </ul>
  </div>
  <div class="border-box">
    <h2>DIAGNOSES</h2>
    <ul>
        <li><p>Diagnose uitlezen</p></li>
        <li><p>Uitgebreide diagnose/ storing onderzoek</p></li>
    </ul>
  </div>
  <div class="border-box">
    <h2>DIAGNOSES</h2>
    <ul>
        <li><p>Diagnose uitlezen</p></li>
        <li><p>Uitgebreide diagnose/ storing onderzoek</p></li>
    </ul>
  </div>
  <div class="border-box">
    <h2>DIAGNOSES</h2>
    <ul>
        <li><p>Diagnose uitlezen</p></li>
        <li><p>Uitgebreide diagnose/ storing onderzoek</p></li>
    </ul>
  </div>
</div>
